<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <form class="form-login" action="{{ url_for('adicionar_usuario') }}" method="post">
            <h1>Adicionar Novo Usuário</h1>
            <input type="email" id="email" name="email" placeholder="Digite o seu email: " required>
            <input type="password" id="password" name="password" placeholder="Digite a sua senha: " required>

            <div class="botoes">
                <button type="submit" class="botao">Adicionar</button>
                <a href="{{ url_for('listar_usuarios') }}" class="botao cancelar-botao">Cancelar</a>
            </div>
        </form>
    </div>
</body>

</html>