{% extends "form_base.html" %}

{% block title %}Adicionar Usuário{% endblock %}
{% block form_title %}Adicionar Novo Usuário{% endblock %}

{% block form_fields %}
<input type="email" id="email" name="email" placeholder="Digite o seu email:" required>
<input type="password" id="password" name="password" placeholder="Digite a sua senha:" required>
{% endblock %}

{% block form_buttons %}
<button type="submit" class="botao">Adicionar</button>
<a href="{{ url_for('login_bp.listar_usuarios') }}" class="botao cancelar-botao">Cancelar</a>
{% endblock %}
