{% extends "form_base.html" %}
{% block title %}Adicionar Data{% endblock %}
{% block form_title %}Adicionar Nova Data{% endblock %}

{% block form_fields %}
<input type="text" id="evento" name="evento" placeholder="Digite o evento:" required>
<input type="text" id="descricao" name="descricao" placeholder="Digite a descrição:" required>
{% endblock %}

{% block form_buttons %}
<button type="submit" class="botao">Adicionar</button>
<a href="{{ url_for('datas_bp.listar_datas') }}" class="botao cancelar-botao">Cancelar</a>
{% endblock %}
