{% extends "form_base.html" %}

{% block title %}Editar Usuário{% endblock %}
{% block form_title %}🔐 Editar - Sistema IoT{% endblock %}

{% block form_fields %}
<input placeholder="Novo email:" id="email" name="email" value="{{ usuario.email }}" required>
<input type="password" id="password" name="password" placeholder="Nova senha" required>
{% endblock %}

{% block form_buttons %}
<button type="submit" class="botao">Salvar</button>
<a href="{{ url_for('login_bp.listar_usuarios') }}" class="botao cancelar-botao">Cancelar</a>
{% endblock %}
