<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <form class="form-login" action="{{ url_for('editar_usuario', id=usuario.id) }}" method="post">
            <h3>🔐 Editar - Sistema IoT</h3>
            <input placeholder="Insira seu novo email: " id="email" name="email" value="{{ usuario.email }}" required>
            <input placeholder="Insira sua nova senha: " id="password" name="password" placeholder="Nova senha"
                required>

            <div class="botoes">
                <button type="submit" class="botao">Salvar</button>
                <a href="{{ url_for('listar_usuarios') }}" class="botao cancelar-botao">Cancelar</a>
            </div>
        </form>
    </div>
</body>

</html>