{% extends "base.html" %}

{% block content %}
<div class="{% block container_class %}form-container{% endblock %}">
    <form class="form-login" action="{{ action_url }}" method="post">
        <h1>{% block form_title %}Formulário{% endblock %}</h1>

        {% block form_fields %}
        {% endblock %}

        <div class="botoes">
            {% block form_buttons %}
            <button type="submit" class="botao">Salvar</button>
            <a href="{{ url_for('login_bp.home') }}" class="botao cancelar-botao">Cancelar</a>
            {% endblock %}
        </div>
    </form>
</div>
{% endblock %}
