<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle LED - Sistema IoT</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Controle do LED</h1>

        <nav class="menu">
            <a href="/home">🏠 Home</a>
            <a href="/tempo_real">📊 Tempo Real</a>
        </nav>

        <div id="status-led">
            {% if led_status == 1 %}
            🟢 LED LIGADO
            {% else %}
            🔴 LED DESLIGADO
            {% endif %}
        </div>

        <div class="botoes-led">
            <button onclick="publicar_led(1)" id="ligar_botao">LIGAR LED</button>
            <button onclick="publicar_led(0)" id="desligar_botao">DESLIGAR LED</button>
        </div>
        
    </div>
</body>

</html>