{% extends "base.html" %}

{% block title %}Controle LED - Sistema IoT{% endblock %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="container">

<div id="status-led">
    {% if led_status == 1 %}
    🟢 LED LIGADO
    {% else %}
    🔴 LED DESLIGADO
    {% endif %}
</div>

<div class="botoes-led">
    <button onclick="publicar_led(1)" id="ligar_botao">LIGAR LED</button>
    <button onclick="publicar_led(0)" id="desligar_botao">DESLIGAR LED</button>
</div>
</div>
{% endblock %}
