{% extends "base.html" %}

{% block title %}Usuários Cadastrados{% endblock %}

{% block content %}
<div class="usuarios-page">
    <h1>Usuários Cadastrados</h1>

    <div class="add-user">
        <a class="botao" href="{{ url_for('login_bp.adicionar_usuario') }}">Adicionar Novo Usuário</a>
    </div>

    <table class="usuarios-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.email }}</td>
                <td class="acoes">
                    <a class="botao" href="{{ url_for('login_bp.editar_usuario', id=usuario.id) }}">Editar</a>

                    <form class="delete-form" action="{{ url_for('login_bp.deletar_usuario') }}" method="post">
                        <input type="hidden" name="email" value="{{ usuario.email }}">
                        <button class="botao delete-botao" type="submit"
                            onclick="return confirm('Tem certeza que deseja deletar este usuário?')">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button onclick="window.location.href='/home'">Voltar</button>
</div>
{% endblock %}
